@{
    ViewData["Title"] = "Home Page";
}

<div class="Jumbotron">
    <h1>Avcol Uniform</h1>  
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Avondale College Uniform Shop</h2>
    </div>
</div>
